<h3>Store: <%= @store.name %></h3>

<div class="row">
  <div class="col-md-6">
    <% if @store.brands.any? %>
      <h4>Here are the brands this store sells:</h4>
      <ul>
        <% @store.brands.each do |brand| %>
        <li><a href="/brands/<%= brand.id %>"><%= brand.name %></a></li>
        <% end %>
      </ul>
      <p>Click <a href="/stores/<%= @store.id %>/add_brands">here</a> to add more brands.</p>
    <% else %>
      <p>This store doesn't have any brands yet. Click <a href="/stores/<%= @store.id %>/add_brands">here</a> to add some.</p>
    <% end %>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <form action="/stores/<%= @store.id %>" method="post">
        <input type="hidden" name="_method" value="patch">
        <h5><%= @message %></h5>
        <label for="name">Update store name:</label>
        <br>
        <input name="name" type="text" placeholder="Enter new store name" required>
        <button type="submit" class="btn-info">Update Store</button>
      </form>
    </div>
    <br>
    <form action="/stores/<%= @store.id %>" method="post">
      <input type="hidden" name="_method" value="delete">
      <button type="submit" class="btn-danger">DELETE STORE</button>
    </form>
  </div>
</div>
